{% extends "base.html" %}

{% block contenido %}

<h2><i class="bi bi-journal-code"></i> Técnicas Criptográficas <i class="bi bi-journal-code"></i></h2>

<div class="container mt-5">
  <form method="get" class="row g-3 align-items-center">
    <div class="col-md-3 me-4">
      <input type="text" name="q" class="form-control" placeholder="Buscar técnicas..." value="{{ request.GET.q }}">
    </div>
    <div class="col-md-2 me-5">
      <select name="tipo" class="form-select">
        <option value="">Todos los tipos</option>
        {% for tipo in tipos %}
          <option value="{{ tipo }}" {% if request.GET.tipo == tipo %}selected{% endif %}>{{ tipo }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="col-md-1">
      <button type="submit" class="btn btn-primary w-100">Buscar</button>
    </div>
  </form>
  
  <ul class="list-group mt-3">
    {% for tecnica in tecnicas %}
      <li>
        <h3><strong>{{ tecnica.nombre }}</strong></h3>
        <p> Típo de Cifrado: {{ tecnica.type }}</p>
        <p>{{ tecnica.descripcion }}</p>
        <details>
          <summary>Detalles</summary>
          <p>{{ tecnica.detalles|linebreaks  }}</p>
        </details>
      </li>
      <br>
    {% endfor %}
  </ul>
</div>
{% endblock %}
