{% extends "base.html" %}

{% block contenido %}
<h1>Política de Privacidad</h1>
<br>
<div class="container mt-5">                                                                   
    <h2><strong>1. INFORMACIÓN AL USUARIO</strong></h2>
        <h4><strong>¿Quién es el responsable del tratamiento de tus datos personales?</strong></h4>
            <p><strong>Universidad Euneiz, S.A.</strong> es el RESPONSABLE del tratamiento de los datos personales del USUARIO 
            y le informa de que estos datos serán tratados de conformidad con lo dispuesto en el Reglamento (UE) 
            2016/679, de 27 de abril (RGPD), y la Ley Orgánica 3/2018, de 5 de diciembre (LOPDGDD).</p>
        <h4><strong>¿Para qué tratamos tus datos personales?</strong></h4>
            <p>Para mantener una relación comercial con el USUARIO. Las operaciones previstas para realizar el tratamiento son:</p>
            <ul>
                <li>Remisión de comunicaciones comerciales publicitarias por email, fax, SMS, MMS, comunidades sociales o cualquier otro medio 
                electrónico o físico, presente o futuro, que posibilite realizar comunicaciones comerciales. Estas comunicaciones serán realizadas 
                por el RESPONSABLE y relacionadas sobre sus productos y servicios, o de sus colaboradores o proveedores con los que este haya 
                alcanzado un acuerdo de promoción. En este caso, los terceros nunca tendrán acceso a los datos personales.</li>
                <li>Realizar estudios de mercado y análisis estadísticos.</li>
                <li>Tramitar encargos, solicitudes, dar respuesta a las consultas o cualquier tipo de petición que sea realizada por el USUARIO a 
                través de cualquiera de las formas de contacto que se ponen a su disposición en la pagina web del RESPONSABLE.</li>
                <li>Remitir el boletín informativo online sobre novedades, ofertas y promociones RESPONSABLE.</li>
                <li>Envío, recepción de CV y cumplimentación de formularios: gestión de procesos de selección de personal que se encuentren 
                habilitados o puedan habilitarse por parte del RESPONSABLE.</li>
            </ul>
        <h4><strong>¿Por qué motivo podemos tratar tus datos personales?</strong></h4>
            <p>Porque el tratamiento está legitimado por el artículo 6 del RGPD de la siguiente forma:</p>
            <ul>
                <li>Con el consentimiento del USUARIO: envío de comunicaciones comerciales y boletín informativo, gestión de procesos de selección 
                de personal.</li>
                <li>Por interés legítimo del RESPONSABLE: realizar estudios de mercado, análisis estadísticos y tramitar encargos, solicitudes, etc. 
                a petición del USUARIO.</li>
            </ul>
        <h4><strong>¿Durante cuánto tiempo guardaremos tus datos personales?</strong></h4>
            <p>Se conservarán durante no más tiempo del necesario para mantener el fin del tratamiento o existan prescripciones legales que 
                dictaminen su custodia y cuando ya no sea necesario para ello, se suprimirán con medidas de seguridad adecuadas para garantizar 
                la anonimización de los datos o la destrucción total de los mismos.</p>
        <h4><strong>¿A quién facilitamos tus datos personales?</strong></h4>
            <p>No está prevista ninguna comunicación de datos personales a terceros salvo, si fuese necesario para el desarrollo y ejecución de las 
            finalidades del tratamiento, a nuestros proveedores de servicios relacionados con comunicaciones, con los cuales el RESPONSABLE tiene 
            suscritos los contratos de confidencialidad y de encargado de tratamiento exigidos por la normativa vigente de privacidad o exista 
            obligación legal.</p>
        <h4><strong>¿Cuáles son tus derechos?</strong></h4>
            <p>Los derechos que asisten al USUARIO son:</p>
            <ul>
                <li>Derecho a retirar el consentimiento en cualquier momento.</li>
                <li>Derecho de acceso, rectificación, portabilidad y supresión de sus datos, y de limitación u oposición a su tratamiento.</li>
                <li>Derecho a presentar una reclamación ante la autoridad de control (www.aepd.es) así como a la Agencia de Protección de Datos de 
                Euskadi: www.avpd.euskadi.eus, avpd@avpd.eus., Teléfono: 945 016 230. Dirección: Beato Tomás de Zumárraga,71 3º Planta 01008 Vitoria – 
                Gasteiz. si considera que el tratamiento no se ajusta a la normativa vigente.</li>
            </ul>
        <h4><strong>¿A quién facilitamos tus datos personales?</strong></h4>
            <p>Universidad Euneiz, S.A. C/ Paseo de la Biosfera, 6 – 01013 Vitoria-Gasteiz. E-mail: protecciondatos@euneiz.com</p>
            <p>Datos de contacto del delegado de protección de datos: protecciondatos@euneiz.com</p>
    <br>
    <h2><strong>2. CARÁCTER OBLIGATORIO O FACULTATIVO DE LA INFORMACIÓN FACILITADA POR EL USUARIO</strong></h2>
        <p>El USUARIO, mediante la marcación de las casillas correspondientes y la entrada de datos en los campos, acepta expresamente y de forma 
        libre e inequívoca, que sus datos son necesarios para atender su petición. El RESPONSABLE indicará qué datos son necesarios para la 
        prestación de un servicio óptimo al USUARIO. En caso de que no se faciliten dichos datos, no se garantiza que la información y servicios 
        facilitados sean completamente ajustados a sus necesidades.</p>
        <p>El USUARIO garantiza que los datos personales facilitados al RESPONSABLE son veraces y se hace responsable de comunicar cualquier 
        modificación de los mismos.</p>
    <br> 
    <h2><strong>1. MEDIDAS DE SEGURIDAD</strong></h2>
        <p>Que de conformidad con lo dispuesto en las normativas vigentes en protección de datos personales, el RESPONSABLE está cumpliendo con todas las 
        disposiciones de las normativas RGPD y LOPDGDD para el tratamiento de los datos personales de su responsabilidad, y manifiestamente con los 
        principios descritos en el artículo 5 del RGPD, por los cuales son tratados de manera lícita, leal y transparente en relación con el interesado y 
        adecuados, pertinentes y limitados a lo necesario en relación con los fines para los que son tratados.</p>
        <p>El RESPONSABLE garantiza que ha implementado políticas técnicas y organizativas apropiadas para aplicar las medidas de seguridad que 
        establecen el RGPD y la LOPDGDD con el fin de proteger los derechos y libertades de los USUARIOS y les ha comunicado la información adecuada 
        para que puedan ejercerlos.</p>
        <p>Para más información sobre las garantías de privacidad, puedes dirigirte al RESPONSABLE a través de Universidad Euneiz, S.A. C/ Paseo de la 
        Biosfera, 6 – 01013 Vitoria-Gasteiz E-mail: protecciondatos@euneiz.com</p>
        <p>Datos de contacto del delegado de protección de datos: protecciondatos@euneiz.com</p>
</div>
{% endblock %}