{% extends "base.html" %}

{% block contenido %}
  <h1><i class="bi bi-code-slash"></i> Bienvenido a CryptoWeb <i class="bi bi-code-slash"></i></h1>
  <div class="container mt-5">
    <h2>Panel de Actividades</h2>
    <p>Este es el panel de actividades. Selecciona una opción del menú para comenzar.</p>
    <div>
      <a href="{% url 'panel_actividades' %}"><i class="bi bi-puzzle"></i> Actividades</a> 
      <a href="#"><i class="bi bi-plus-circle"></i> Crear Actividad</a>
      <a href="{% url 'historia_lista' %}"><i class="bi bi-book"></i> Historia de la Criptografía</a>
      <a href="{% url 'tecnica_lista' %}"><i class="bi bi-journal-code"></i> Técnicas Criptográficas</a>
    </div>
  </div>
{% endblock %}